Src/ConsoleApplication1/Service References/ServiceReference1/item52.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DHT.MainModule" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/DHT.MainModule" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFileId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileId" nillable="true" type="tns:FileId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileId" nillable="true" type="tns:ArrayOfFileId" />
  <xs:complexType name="FileId">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Part" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileId" nillable="true" type="tns:FileId" />
</xs:schema>