Src/ConsoleApplication1/Service References/ServiceReference1/item51.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23020/?xsd=xsd3"
             namespace="http://schemas.datacontract.org/2004/07/DHT.MainModule" />
  <xs:import schemaLocation="http://localhost:23020/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DHT" />
  <xs:element name="StoreInto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DHT.MainModule" minOccurs="0" name="value"
                    nillable="true" type="q1:FileId" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DHT" minOccurs="0" name="callerIdentifier"
                    nillable="true" type="q2:NodeIdentifierstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreIntoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveInto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DHT.MainModule" minOccurs="0" name="value"
                    nillable="true" type="q3:FileId" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DHT" minOccurs="0" name="callerIdentifier"
                    nillable="true" type="q4:NodeIdentifierstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIntoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveIntoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPagedValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DHT" minOccurs="0" name="callerIdentifier"
                    nillable="true" type="q5:NodeIdentifierstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPagedValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DHT" minOccurs="0" name="FindPagedValueResult"
                    nillable="true" type="q6:FindValueResultOfstringArrayOfFileIdPf8begk3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>